@charset="UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	background: #000;
}
.main{
	width: 890px;
	height: 1386px;
	margin: 0 auto;
	padding: 0 45px;
	background: #fff;
}
.head{
	float: left;
	width: 892px;
	height: 61px;
	border-bottom: 2px solid #938e8c;
}
.logo{
	background: #d45d5c;
	width: 110px;
	height:61px;
	font: 12px "黑体";
	color: #ffffff;
	float: left;
}
.head p{
	margin-top: 45px;
	margin-left: 5px;
}
.time{
	float: right;
	font: 12px "黑体";
	color: #d45d5c;
}
.line1{
	float: left;
	width: 892px;
	height: 2px;
	background: #938e8c;
}
.pic1{
	float: left;
	margin-top: 35px;
	position: relative;
}
.green{
	width: 191px;
	height: 301px;
	background: rgba(46,139,87,0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.red{
	width: 191px;
	height: 301px;
	background: rgba(238,121,159,0.5);
	position: absolute;
	right: 0;
	top: 0
}
.section1{
	float: right;
	margin-top: 35px;
	width: 203px;
	height: 300px;
	border-top: 2px solid #cc8091;
	font: 16px "微软雅黑";
	color: #000;
	padding: 10px 0 0 0;
}
.section1 p{
	text-decoration: underline;
}
.section1 p:nth-child(1):first-letter{
	font-size:24px;
}
.section1 p:nth-child(2):first-letter{
	font-size:24px;
}
.section1 p:nth-child(3){
	font: 12px 楷体;
	color: #676767;    
	text-decoration: none;
	line-height: 10px;
}
.span1{
	font: italic 116px "微软雅黑";
	color: #75b86b;
	text-decoration: none;
}
.span2{
	font: 55px "微软雅黑";
	color:#cc8091;
	margin-left: 5px;
	margin-bottom: 150px;
	line-height: 55px;
	float: left;
}
.span3{
	display: inline-block;
	font: 21px "微软雅黑";
	color:#cc8091;
	margin-top: 5px;
}
.span4{
	font: 12px "微软雅黑";
	color:#cc8091;
}
.section2{
	float: left;
	width: 228px;
	margin-top: 45px;
}
.section2 p{
	font: 12px "宋体";
	color: #767777;
	line-height: 16px;
}
.section2 h2{
	font: 16px "微软雅黑";
	color: #418c59;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
.section3{
	float: left;
	width: 204px;
	margin-top: 45px;
	margin-left: 30px;
}
.section3 h2{
	font: 16px "微软雅黑";
	color: #d2994f;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
.section3 p{
	font: 12px "微软雅黑";
	color: #231815;
	line-height: 16px;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7; 
	opacity: 0.7; 
}
.section4{
	float: left;
	width: 132px;
	margin-top: 45px;
	margin-left: 30px;
}
.section4 h2{
	font: 16px "微软雅黑";
	color: #cc7680;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
.section4 p{
	font: 12px "微软雅黑";
	color: #231815;
	line-height: 16px;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7; 
	opacity: 0.7; 
}
.span5{
	font: 12px "微软雅黑";
	color: #cd4a48;
	line-height: 16px;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7; 
	opacity: 0.7; 
}
.section4 p:nth-child(5){
	margin-top: 50px;
}
.section5{
	float: left;
	width: 415px;
	height: 175px;
	border-bottom: 2px solid #11456b;
	margin-top: 50px;
}
.span6{
	font: italic 72px 黑体;
	color: #f5e327;
	font-weight: bold;
	margin-right: 20px;
}
.section5 p{
	font: 42px "黑体";
	color:#11456b;
	font-weight: bold;
	line-height: 16px;
}
.section5 p:last-child{
	font-size: 33px;
	margin-top: 35px;
}
.pic2{
	float: left;
	width: 458px;
	height: 275px;
	margin-top: 60px;
	margin-left: 17px;
	position: relative;
}
.shade{
	position: absolute;
	bottom: 0px;
	width: 458px;
	height: 61px;
	background: rgba(0,0,0,0.5); 
}
.word{
	height: 44px;
	border-left: 3px solid #72b16a;
	margin: 10px 40px;
}
.word p{
	font: 26px "微软雅黑";
	color: #ffffff;
	margin-left: 15px;
}
.span7{
	font: italic 12px "微软雅黑";
	color: #72b16a;
}
.section6{
	float: left;
	width: 415px;
	height: 400px;
	margin-top: -80px;
}
.section6 p{
	font: 12px "宋体";
	color: #767777;
	line-height: 16px;
	text-align: justify;
}
.span8{
	float: left;
	font: 70px "微软雅黑";
	color: #f5e32c;
}
.section7{
	float: left;
	width: 459px;
	height: 318px;
	background: #FFF0F5;
	margin-top: 30px;
	margin-left: 16px;
	position: relative;
}
.list{
	position: absolute;
	margin-top: 30px;
	margin-left: 30px;
}
.section7 li{
	font: 16px 宋体;
	color: #5a5b5b;
	margin-bottom: 20px;
	text-align: right;
	list-style-type: none;
}
.triangle{
	float: left;
	width: 0px;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #104E8B transparent;
	margin-right: 5px
}
.span9{
	font: italic 12px "宋体"; 
	color: #5a5b5b;
}
.cover{
	width: 260px;
	height: 160px;
	position: absolute;
	background: #d45d5c;
	bottom: 0;
}
.cover span{
	font: 110px "微软雅黑";
	color: #ffffff;
	margin-left: 10px;
}
.div1{
	height: 86px;
	border-left: 2px solid #ffffff;
	position: absolute;
	bottom: 40px;
	left: 80px;
}
.div1 p{
	font: 21px "黑体";
	color: #ffffff;
	margin-left: 10px;
}
.div2{
	width: 190px;
	height: 160px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.span10{
	font: 72px "黑体";
	color: #d45d5c;
	position: absolute;
	bottom: 80px;
	left: -40px
}
.div2 p{
	font: italic 14px "黑体";
	color: #5a5b5b;
	margin-top: 16px;
	text-indent: 3em;
}
.span11{
	font: 72px "黑体";
	color: #d45d5c;
	position: absolute;
	right: -10px;
	top: 90px;
}
.footer{
	float: left;
	width: 892px;
	height: 12px;
	border-top: 2px solid #938e8c;
	margin-top: 40px;
}
.footer p{
	font: 12px "黑体";
	color: #d45d5c;
	float: right;
}