@charset="UTF-8";
body,div,p,img{
	margin:0;
	padding:0;
}
body{
	text-align: center;
}
.box{
	width: 500px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.box img{
	width: 100%;
	-webkit-transition: filter 0.4s linear;
	transition: filter 0.4s linear;
}
/*鼠标悬浮时图片模糊*/
.box:hover img{
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-ms-filter:blur(5px);
	filter:blur(5px);
}
.box .inner{
	width: 400px;
	position: absolute;
	left: 50%;
	top:50px;
	margin-left: -200px;
	color: #fff;
	padding:30px 0;
}
.box .inner .line{
	position: absolute;
	background: #fff;
}
.box .inner .horizontal{
	width: 0px;
	height: 4px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.4s linear;
	transition: width 0.4s linear;
}
.box .inner .top{
	top: 0;
}
.box .inner .bottom{
	bottom: 0;
}
.box .inner .vertical{
	width: 2px;
	height: 0px;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: height 0.4s linear;
	transition: height 0.4s linear;
}
.box .inner .left{
	left: 0;
}
.box .inner .right{
	right: 0;
}
/*鼠标悬浮时出现四条边线*/
.box:hover .horizontal{
	width: 100%;
}
.box:hover .vertical{
	height: 100%;
}
.box .inner .text{
	opacity: 0;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: opacity 0.4s linear ,transform 0.4s linear;
	transition: opacity 0.4s linear ,transform 0.4s linear;
}
.box .inner .text h2{
	color: #e83015;
	background:linear-gradient(to right,#e83015,#ccc756 25%,#e83015 50%,#ccc756 75%,#e83015 100%);
	background:-moz-linear-gradient(to right,#e83015,#ccc756 25%,#e83015 50%,#ccc756 75%,#e83015 100%);
	background:-ms-linear-gradient(to right,#e83015,#ccc756 25%,#e83015 50%,#ccc756 75%,#e83015 100%);
	-webkit-background-clip:text;
	-ms-background-clip:text;
	background-clip:text;
	-webkit-text-fill-color:transparent;
	/*让背景是框的两倍宽，从而让背景定位有移动的空间*/
	background-size:200% 100%;
	-ms-background:transform;
}
@keyframes h2Color{
	0%{background-position:100% 0;}
	100%{background-position: 0 0;}
}
@keyframes h3Color{
	0%{color: #ffb11b;}
	50%{color: #f8c3cd;}
	100%{color:#ffb11b;}
}
/*鼠标悬浮时文字上浮出现*/
.box:hover .text{
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.box:hover h2{
	-webkit-animation: h2Color 3s infinite linear;
	animation: h2Color 3s infinite linear;
}
.box:hover h3{
	-webkit-animation: h3Color 3s infinite linear;
	animation: h3Color 3s infinite linear;
}

/*运用ie10和ie11的两个独有属性筛选出ie10和ie11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/*字体颜色渐变的元素设置为背景透明，因为ie10和ie11虽然支持线性渐变但是不支持背景裁剪为 text ，影响效果。*/
	.box .inner .text h2{
		background: transparent;
	}
}