@charset="UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #000;
}
.box{
	width: 800px;
	height: 665px;
	background: #fff;
	margin: 0 auto;
	position: relative;
}
.rect{
	width: 400px;
	height: 200px;
	background: #ccc;
	position: absolute;
	left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.circle1{
	width: 100px;
	height: 100px;
	background: #fc0;
	border-radius: 100px;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	clip: rect(50px,100px,100px,50px);
}
.circle2{
	width: 100px;
	height: 100px;
	background: #fc0;
	border-radius: 100px;
	margin-left: 350px;
	margin-top: 150px;
	position: absolute;
	clip: rect(0px,50px,50px,0px);
}
